* {
  box-sizing: border-box;
}

/* CSS RESET */

html, body, div, p, span, applet, object, iframe,blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%; 
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MAIN */

html {
  font-size: 16px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 2rem;
}

hr {
  margin: 0 calc(-50vw + 50%);
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000;
  border-radius: 5px;
  background-color: white;
  width: 16rem;
  padding: 1rem;
  height: 20rem;
}

input {
  width: 100%;
  height: 2.5rem;
  border-radius: 4px;
  font-size: 1.2rem;
  padding-left: 10px;
}

input:focus {
  outline: none;

}

input[type="button"] {
  cursor: pointer;
}

fieldset {
  display: contents;
}

legend {
  font-weight: 900;
  font-size: 1.3rem;
}

.add-book-button{
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 1.5rem 0;
  transition: background-color 0.3s ease;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  font-weight: 700;
}

.add-book-button:hover {
  background-color: #ddd;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.visually-hidden {
  position: absolute;
  clip-path: inset(100%);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.grid-item {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.button-action {
  width: 100%;
  cursor: pointer;
  padding: 0.7rem 0;
  border-radius: 5px;
}

.grid-item,
.button-action {
  font-size: 1.2rem;
}

.not-read-color {
  background-color: rgba(255, 0, 0, 0.3);
}

.read-color {
  background-color: rgba(0, 255, 0, 0.3);
}