* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
  margin-left: 2rem;
}

hr {
  width: 100%;
}

.add-book-button{
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 1.5rem;
  transition: background-color 0.3s ease;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-weight: 700;
}

.add-book-button:hover {
  background-color: #ddd;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#bookForm {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000;
}